<!DOCTYPE html>

<html lang = "en">

    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <title> File Directory Gallery </title>
    </head>

    <body>
        <header> Video's Installed Showcase </header>
        <br><br><br>

        <h3> The following videos were installed thorugh the Youtube DL command line tool displayed here for ease of access and debugging purposes. </h3>

        <div>
        
        </div>

    </body>
</html>
